<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address_line_1 %></td>
        <td><%= location.postal_code_name %></td>
        <td><%= location.coordinates %></td>
        <td><%= location.radius %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'locations[file]' %>
  <%= submit_tag("Upload") %>
<% end %>
